*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    user-select: none;
}

main{
    max-height: 100vh;
    max-width: 100%;
}

.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;

    & img{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-width: 50%;
        min-height: 50%;
        filter: blur(15px);
        -webkit-filter: blur(50px);
        transform: scale(1.1);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;

    & img{
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 1rem 2rem rgb(233, 233, 233));
    }
}

.container{
    background-color: #e7e7e7;
    margin: 14rem auto;
    height: 34rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.3);
    

    &:hover{
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    }
}

.player-img{
    margin: 0 auto;
    width: 21rem;
    height: 18rem;
    position: relative;
    top: -10%;
    overflow: hidden;

    &:hover{
        animation: remove-overflow 2s forwards;
    }
    &:not(:hover){
        animation: show-overflow 2s forwards;
    }
    &:not(:hover) .card-data{
        animation: remove-data 1s forwards;
    }

    &:hover .card-data{
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity .3s;
    }

    & img{
        object-fit: cover;
        border-radius: 1rem;
        height: 0;
        width: 0;
        opacity: 0;

        &.active{
            width: 100%;
            height: 100%;
            transition: all 0.5;
            opacity: 1;
        }
    }
}

h2{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-top: .3rem;
}

.player-progress{
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    margin: 2rem 1rem 2.3rem;
    height: 6px;

    & .progress{
        background-color: #212121;
        border-radius: 2rem;
        height: 100%;
        width: 0;
        transition: width 0.1s linear;
    }

    & .music-duration{
        position: relative;
        top: -1.8rem;
        display: flex;
        justify-content: space-between;
    }
}

.player-controls{
    position: relative;
    display: flex;
    gap: 2rem;
    margin: 0 auto 1rem;

    & .fa-solid{
        font-size: 2rem;
        color: #666;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            filter: brightness(40%);
        }
    }

    & .play-button{
        font-size: 3.5rem;
        position: relative;
    }
}

footer{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    overflow: hidden;

    & img{
        position: relative;
        width: 150%;
        height: 100%;
        filter: drop-shadow(0 15px 30px rgb(255, 250, 250));
    }
}

.card-data{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    position: absolute;
    padding: 1rem;
    margin: 0 .5rem;
    bottom: -190px;
    background-color: #e7e7e7;
    z-index: 3;
    box-shadow: 0 3px 7px 3px rgba(0, 0, 0, .6);
    opacity: .5;
    transition: opacity 1s 1s;
}

@keyframes show-data{
    50%{
        transform: translateY(-15rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-15rem);
    }
    100%{
        transform: translateY(-.2rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media  (width > 1219px) {
    header{
        height: 300px;
    }

    .container{
        height: 1900px;
        width: 1100px;
        border-radius: 100px;
    }

    h2{
        font-size: 80px;
        margin: 120px 0 30px;
    }
    h3{
        font-size: 70px;
    }

    .player-img{
        width: 1050px;
        height: 1000px;
        top: -100px;
        left: 23px;
        border-radius: 80px;
    }

    .player-progress{
        border-radius: 5px;
        margin: 150px 40px 55px;
        height: 26px;

        & .progress{
            border-radius: 25px;
        }

        & .music-duration{
            top: -85px;
        }

        & span{
            font-size: 44px;
            font-weight: 600;
            margin: 0 20px;
        }
    }
    .player-controls{
        gap: 125px;
        left: 200px;
        width: 200px;
        top: 130px;
    
        & .fa-solid{
            font-size: 130px;
        }
    
        & .play-button{
            font-size: 145px;
        }
    }
    
.card-data{
    width: 1000px;
    height: 820px;
    border-radius: 40px;
    left: 25px;
    bottom: -700px;
    padding: 60px 30px;

    & span{
        font-size: 52px;
    }
}

    footer{
        height: 200px;
    }

    @keyframes show-data{
        50%{
            transform: translateY(-45rem);
        }
    }

    @keyframes remove-data {
        0%{
            transform: translateY(-7rem);
        }
        50%{
            transform: translateY(-50rem);
        }
        100%{
            transform: translateY(-.2rem);
        }
    }
}

/* @media (width > 414px) and (width < 1219px) {

    .container{
        height: 80rem;
        width: 40rem;
    }

    h2{
        font-size: 4rem;
        margin: 120px 0 30px;
    }
    h3{
        font-size: 3.5rem;
    }

    .player-img{
        width: 44rem;
        height: 50rem;
        top: -100px;
        left: 23px;
        border-radius: 80px;
    }

    .player-progress{
        border-radius: 5px;
        margin: 150px 40px 55px;
        height: 26px;

        & .progress{
            border-radius: 25px;
        }

        & .music-duration{
            top: -85px;
        }

        & span{
            font-size: 44px;
            font-weight: 600;
            margin: 0 20px;
        }
    }
    .player-controls{
        gap: 125px;
        left: 200px;
        width: 200px;
        top: 130px;
    
        & .fa-solid{
            font-size: 130px;
        }
    
        & .play-button{
            font-size: 145px;
        }
    }
    
.card-data{
    width: 1000px;
    height: 820px;
    border-radius: 40px;
    left: 25px;
    bottom: -700px;
    padding: 60px 30px;

    & span{
        font-size: 52px;
    }
}

    @keyframes show-data{
        50%{
            transform: translateY(-45rem);
        }
    }

    @keyframes remove-data {
        0%{
            transform: translateY(-7rem);
        }
        50%{
            transform: translateY(-50rem);
        }
        100%{
            transform: translateY(-.2rem);
        }
    }
} */

@media (width < 376px) {

    header{
        height: 4rem;
    }
    
    .container{
        margin: 5rem 0 0;
        height: 33rem;
        width: 22rem;        
    }
    
    .player-img{
        margin: 0 auto;
        width: 21rem;
        height: 18rem;
        top: -2%;
    }
    
    .player-controls{
        position: relative;
        display: flex;
        gap: 2rem;
        margin: 0 auto 1rem;

        & .fa-solid{
            font-size: 2rem;
            color: #666;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover{
                filter: brightness(40%);
            }
        }

        & .play-button{
            font-size: 3.5rem;
            position: relative;
        }
    }

}