*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 12px;
    user-select: none;
}

.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;

    & img{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-width: 50%;
        min-height: 50%;
        filter: blur(15px);
        -webkit-filter: blur(50px);
        transform: scale(1.1);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;

    & img{
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 15px 30px rgb(255, 250, 250));
    }
}

.container{
    background-color: #e7e7e7;
    height: 500px;
    width: 370px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    

    &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

    }
}

.player-img{
    width: 330px;
    height: 275px;
    position: relative;
    top: -50px;
    left: 20px;
    overflow: hidden;

    &:hover{
        animation: remove-overflow 2s forwards;
    }

    &:hover .card-data{
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity .3s;
    }

    & img{
        object-fit: cover;
        border-radius: 20px;
        height: 0;
        width: 0;
        opacity: 0;

        &.active{
            width: 100%;
            height: 100%;
            transition: all 0.5;
            opacity: 1;
        }
    }
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

h3{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.player-progress{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;

    & .progress{
        background-color: #212121;
        border-radius: 5px;
        height: 100%;
        width: 0;
        transition: width 0.1s linear;
    }

    & .music-duration{
        position: relative;
        top: -25px;
        display: flex;
        justify-content: space-between;
    }
}

.player-controls{
    position: relative;
    display: flex;
    gap: 25px;
    top: -15px;
    left: 98px;
    width: 200px;

    & .fa-solid{
        font-size: 30px;
        color: #666;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            filter: brightness(40%);
        }
    }

    & .play-button{
        font-size: 45px;
        position: relative;
        top: 3px;
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    overflow: hidden;

    & img{
        position: relative;
        width: 150%;
        height: 100%;
        left: -90px;
        filter: drop-shadow(0 15px 30px rgb(255, 250, 250));
    }
}

.card-data{
    width: 310px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    left: 8px;
    bottom: -190px;
    background-color: #e7e7e7;
    z-index: 3;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
    opacity: .5;
    transition: opacity 1s 1s;
}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}